.top-image-background {
  width: 100%;
  height: 420px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../../images//room-and-suites-top-img-main.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
}
.top-img-text {
  font-family: merianda;
  font-size: 4rem;
  color: #ffffff;
}

@media (max-width: 700px) {
  .top-img-text {
    font-size: 2.5rem;
  }
  .top-image-background {
    height: 250px;
  }
}
